* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    width: 250px;
    height: 100vh;
    position: fixed;
    margin-left: -300px;
    /*background-color: #1847e2;*/
    transition: 0.4s;
    border-right: black 2px solid;
}

.my-container {
	margin-top: 18px;
    transition: 0.4s;
}

/* for navbar */

.active-nav {
    margin-top: 50px;
    margin-left: 0;
	z-index: 1;
}

/* for main section */

.active-cont {
    margin-left: 250px;
}

#menu-btn {
    background-color: #fff;
    color: #000;
    border-color: #000
}

#menu-btn:focus {	
    box-shadow: 0 0 0 0.25rem #1847e2c0;
}

.bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.nav-link {
    border-radius: 0;
}

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
}

.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #d2f4ea;
}

.fw-semibold { font-weight: 600; }

/*--rango 2--*/

.middle {
	position: relative;
	width: 90%;
}

.slider{
	position: relative;
	z-index: 1;
	height: 10px;
	margin: 10px;
}

.slider > .track {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #c6aee7;
}

.slider > .range {
	position: absolute;
	z-index: 2;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #6200ee;
}

.slider > .thumb {
	position: absolute;
	z-index: 3;
	width: 20px;
	height: 20px;
	background-color: #6200ee;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(98,0,238,.1);
	transition: box-shadow .3s ease-in-out;
}

.slider > .thumb.left {
	left: 25%;
	transform: translate(-10px, -5px);
}

.slider > .thumb.right {
	right: 25%;
	transform: translate(10px, -5px);
}

.slider > .thumb.hover {
	box-shadow: 0 0 0 5px rgba(98,0,238,.1);
}

.slider > .thumb.active {
	box-shadow: 0 0 0 10px rgba(98,0,238,.2);
}

/*----*/

.middle2 {
	position: relative;
	width: 90%;
}

.slider2 {
	position: relative;
	z-index: 1;
	height: 10px;
	margin: 10px;
}

.slider2 > .track {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #c6aee7;
}
.slider2 > .range {
	position: absolute;
	z-index: 2;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #6200ee;
}
.slider2 > .thumb {
	position: absolute;
	z-index: 3;
	width: 20px;
	height: 20px;
	background-color: #6200ee;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(98,0,238,.1);
	transition: box-shadow .3s ease-in-out;
}
.slider2 > .thumb.left {
	left: 25%;
	transform: translate(-10px, -5px);
}
.slider2 > .thumb.right {
	right: 25%;
	transform: translate(10px, -5px);
}
.slider2 > .thumb.hover {
	box-shadow: 0 0 0 5px rgba(98,0,238,.1);
}
.slider2 > .thumb.active {
	box-shadow: 0 0 0 10px rgba(98,0,238,.2);
}

/*----*/
input[class=form-range] {
	position: absolute;
	pointer-events: none;
	-webkit-appearance: none;
	z-index: 2;
	height: 20px;
	width: 100%;
	opacity: 0;
}

input[class=form-range]::-webkit-slider-thumb {
	pointer-events: all;
	width: 20px;
	height: 20px;
	border-radius: 0;
	border: 0 none;
	background-color: red;
	-webkit-appearance: none;
}

/*---*/

.hotel {
    border: 1px solid black;
    width: auto;
    height: auto;
    margin-bottom: 10px;
}

.hotel table {
	width: 100%;
	margin: 10px;
}

.hotel img{
	margin-right: 15px;
    width: 200px;
    height: auto;
}

.panel-hotel {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.panel-hotel > #desc {
    margin-top: 10px;
    margin-right: 25px;
}

.panel-hotel img{
	margin: 10px;
    float: left;
    width: 35%;
    height: auto;
}

#popup-hotel{
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}

.content-popup h2, .content-popup-hotel h2 {
    color:#48484B;
    border-bottom: 1px solid #48484B;
    margin-top: 0;
    padding-bottom: 4px;
}

.content-popup-hotel {
    margin:0px auto;
    margin-top:120px;
    position: relative;
    padding:10px;
    width:1000px;
    min-height:250px;
    border-radius:4px;
    background-color:#FFFFFF;
    box-shadow: 0 2px 5px #666666;
}

.checked {
    color: yellow;
}