* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.menu {
	width: 250px;
	height: 100vh;
	position: fixed;
	margin-left: -300px;
	background-color: white;
	transition: 0.4s;
	border-right: black 2px solid;
	overflow: scroll;
	padding-bottom: 50px;
}

.menu label {
	padding-bottom: 3px;
	padding-top: 3px;
	padding-left: 6px;
}

.my-container {
	margin-top: 18px;
	transition: 0.4s;
}

/* for navbar */

.active-nav {
	margin-top: 50px;
	margin-left: 0;
	z-index: 1;
	font-size: large;
}

/* for main section */

.active-cont {
	margin-left: 250px;
}

#menu-btn {
	background-color: #fff;
	color: #000;
	border-color: #000;
}

#menu-btn:focus {
	box-shadow: 0 0 0 0.25rem #1847e2c0;
}

.bi {
	vertical-align: -.125em;
	pointer-events: none;
	fill: currentColor;
}

.dropdown-toggle {
	outline: 0;
}

.nav-link {
	border-radius: 0;
}

.btn-toggle {
	display: inline-flex;
	align-items: center;
	padding: .25rem .5rem;
	font-weight: 600;
	color: rgba(0, 0, 0, .65);
	background-color: transparent;
	border: 0;
	font-size: large;
}

.btn-toggle:hover, .btn-toggle:focus {
	color: rgba(0, 0, 0, .85);
	background-color: #d2f4ea;
}

.btn-toggle::before {
	width: 1.25em;
	line-height: 0;
	content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
	transition: transform .35s ease;
	transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
	color: rgba(0, 0, 0, .85);
}

.btn-toggle[aria-expanded="true"]::before {
	transform: rotate(90deg);
}

.btn-toggle-nav a {
	display: inline-flex;
	padding: .1875rem .5rem;
	margin-top: .125rem;
	margin-left: 1.25rem;
	text-decoration: none;
}

.btn-toggle-nav a:hover, .btn-toggle-nav a:focus {
	background-color: #d2f4ea;
}

.fw-semibold {
	font-weight: 600;
}

/*----*/

.hotel {
	background-color: white;
	border: 1px solid black;
	width: 100%;
	height: auto;
	margin-bottom: 15px;
}

.hotel table {
	width: 97%;
}

.hotel .botones {
	margin-right: 10px;
	margin-bottom: 5px;
	display: flex;
	align-items: center;
}

.hotel label {
	margin: 8px;
}

.hotel img {
	width: 100%;
	height: 290px;
	padding-right: 10px;
	display:block;
	margin:auto;
}

.hotel .estrellas {
	font-size: 15px;
}

.panel-comentarios {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.panel-comentarios {
	margin: 5px;
	font-size: x-large;
	color: white;
}

.panel-comentarios #valoracion{
	font-size: large;
	width: 30%;
	margin-bottom: 10px;
}

.panel-comentarios h2 {
	color: white;
	border-bottom: 1px solid #48484B;
	margin-top: 0;
	padding-bottom: 4px;
}

.panel-comentarios #botoncomentario {
	background-color:#26baba;
	padding:10px;
	position:relative;
	font-family: 'Open Sans', sans-serif;
	font-size:medium;
	color:#fff;
	border-radius: 5px;
}

.panel-comentarios .comentario {
	border: 1px solid black;
	background-color: #7cdd80dc;
	height: auto;
	margin: 5px;
}

.panel-comentarios #lista-comentarios {
	width: 99%;
	overflow-y: scroll;
}

.panel-comentarios .esc-comentario table {
	table-layout: fixed;
	width: 98%;
	margin: 10px;	
}

.panel-comentarios .esc-comentario th, .panel-comentarios .esc-comentario td {
    width: 100%;
    word-wrap: break-word;
}

textarea{
    height: 200px;
    width: 99%;
}


.panel-comentarios .comentario table {
	width: 97%;
}

#comentarios {
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1001;
}

.content-comentarios {
	margin: 0px auto;
	top: 50%;
	position: relative;
	padding: 10px;
	width: 90%;
	height: 90%;
	border-radius: 4px;
	background-color: #8eff949f;
	box-shadow: 0 2px 5px #007c00;
	transform: translateY(-50%);
}

/*responsable*/
@media (max-width: 1000px) {
	.panel-hotel p, .panel-hotel label {
		font-size: large;
	}
	
	#openweathermap-widget-15 {
		transform: scaleX(0.8);
	}
}

@media (max-width: 800px) {
	.panel-hotel p, .panel-hotel label {
		font-size: medium;
	}

	#openweathermap-widget-15 {
		transform: scaleX(0.7);
	}

	
}

@media (max-width: 500px) {
	.panel-hotel p, .panel-hotel label {
		font-size: x-small;
	}
	#openweathermap-widget-15 {
		transform: scaleX(0.6);
	}

	.iconos{
		transform: scale(0.9);
	}
}

@media (max-width: 400px) {
	.panel-hotel p, .panel-hotel label {
		font-size: xx-small;
	}

	#openweathermap-widget-15 {
		transform: scaleX(0.6);
	}

	.iconos{
		transform: scale(0.6);
	}	
}

@media (min-height: 1061px) {
	.content-popup-hotel {
		height: auto;
	}
	
}

@media (min-height: 1301px) {
	.panel-comentarios #lista-comentarios {
		height: 630px;
	}
}

@media (max-height: 1300px) {
	.panel-comentarios #lista-comentarios {
		height: 450px;
	}
}

@media (max-height: 1100px) {
	.panel-comentarios #lista-comentarios {
		height: 330px;
	}
}

@media (max-height: 960px) {
	.content-popup-hotel .desc {
		height: 700px;
	}
	
	.panel-comentarios #lista-comentarios {
		height: 230px;
	}
}

@media (max-height: 860px) {
	.content-popup-hotel .desc {
		height: 600px;
	}

	.panel-comentarios {
		font-size: large;
	}

	textarea {
		height: 100px;
	}
}

@media (max-height: 730px) {
	.content-popup-hotel .desc {
		height: 500px;
	}

	.panel-comentarios #lista-comentarios {
		height: 160px;
	}
}

@media (max-height: 640px) {
	.content-popup-hotel .desc {
		height: 400px;
	}
}

@media (max-height: 520px) {
	.content-popup-hotel .desc {
		height: 300px;
	}

	textarea {
		height: 90px;
	}
}

@media (max-height: 420px) {
	.content-popup-hotel .desc {
		height: 200px;
	}
}
